.section {
  padding: 80px 115px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  overflow: hidden;

  &_content {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (min-width: 836px) and (max-width: 1279px) {
  .section {
    padding: 40px 72px;
    gap: 40px;
  }
}

@media screen and (max-width: 835px) {
  .section {
    padding: 40px 30px;
    gap: 40px;

    &_content {
      flex-direction: column;
      gap: 20px;
    }
  }
}
