:root {
  --desktop-size: 1280px;
  --tablet-size: 835px;
  --phone-size: 375px;

  --primary-color: #a259ff;
  --error-color: #E45252;
  --loading-color: #f0f0f0;
  --gradient-1: linear-gradient(149deg, #a259ff 0%, #ff6250 100%);
  --gradient-2: linear-gradient(170deg, #a259ff 0%, #377df7 100%);

  --header-desktop-size: 100px;
  --header-tablet-size: 54px;
  --header-phone-size: 54px;
}
