:root {
  --desktop-size: 1280px;
  --tablet-size: 835px;
  --phone-size: 375px;

  --primary-color: #a259ff;
  --loading-color: #f0f0f0;

  --header-desktop-size: 100px;
  --header-tablet-size: 54px;
  --header-phone-size: 54px;
}
