:root {
  --desktop-size: 1440px;
  --tablet-size: 835px;
  --phone-size: 1440px;

  --primary-color: #A259FF;

  --header-desktop-size: 100px;
  --header-tablet-size: 54px;
  --header-phone-size: 54px;
}