.trending {
  padding: 80px 115px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  &_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 836px) and (max-width: 1279px) {
  .trending {
    padding: 40px 72px;
    gap: 40px;

    &_list {
      &__item:nth-child(3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .trending {
    padding: 40px 30px;
    gap: 40px;

    &_list {
      &__item:nth-child(n+2) {
        display: none;
      }
    }
  }
}
