.discover {
  padding: 80px 115px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &__button {
      width: 187px;
    }
  }

  &_list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  &__button {
    display: none;
  }
}

@media screen and (min-width: 836px) and (max-width: 1279px) {
  .discover {
    padding: 40px 72px;

    &_list {
      span:nth-child(3) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .discover {
    padding: 40px 30px;

    &_header {
      &__button {
        display: none;
      }
    }

    &__button {
      display: block;
    }

    &_list {
      flex-direction: column;
      gap: 20px;
    }
  }
}
