.hero {
  padding: 80px 115px;
  display: flex;
  flex-direction: row;
  gap: 30px;

  &_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Work Sans";

    &__title {
      font-weight: 600;
      text-transform: capitalize;
    }

    &__description {
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-transform: capitalize;
    }

    &__button {
      width: 224px;
      margin: 10px 0;
    }

    &__stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 0px;

      span:nth-child(-n + 3) {
        font-family: 'Space Mono';
        font-weight: bold;
        font-size: 28px;
        line-height: 140%;
      }

      span {
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
      }
    }
  }

  &_preview {
    width: 510px;
    height: 510px;
    background-color: var(--bg-color--secondary);
    border-radius: 20px;
    font-family: "Work Sans";

    &__img {
      width: 510px;
      height: 400px;
      border-radius: 20px 20px 0 0;
    }

    &__info {
      padding: 22px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .nft__name {
        font-size: 22px;
        font-weight: 600;
      }

      .nft_author {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        line-height: 140%;

        &__img {
          width: 24px;
          height: 24px;
          border-radius: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 836px) and (max-width: 1279px) {
  .hero {
    padding: 80px 72px;

    &_info {
      &__title {
        font-size: 38px;
        line-height: 120%;
      }

      &__description {
        font-size: 16px;
        line-height: 140%;
      }

      &__stats {
        span:nth-child(-n + 3) {
          font-size: 22px;
          line-height: 160%;
        }

        span {
          font-size: 16px;
          line-height: 140%;
        }
      }
    }

    &_preview {
      width: 330px;
      height: 330px;

      &__image {
        width: 330px;
        height: 221px;
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .hero {
    padding: 40px 30px;
    flex-direction: column;
    align-items: center;


    &_info {
      &__title {
        font-size: 28px;
        line-height: 140%;
      }

      &__description {
        font-size: 16px;
        line-height: 140%;
      }

      &__stats {
        span:nth-child(-n + 3) {
          font-size: 22px;
          line-height: 160%;
        }

        span {
          font-size: 16px;
          line-height: 140%;
        }
      }

      &__button {
        width: 100%;
      }
    }

    &_preview {
      width: 315px;
      height: 315px;

      &__image {
        width: 315px;
        height: 206px;
      }
    }
  }
}
