.header {
  height: var(--header-desktop-size);
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  &_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    &__button {
      width: 152px;
    }
  }
}