.highlighted {
  width: 100%;
  height: 640px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    z-index: 2;
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &_card {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    &__info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 0 0 60px 115px;
      font-family: "Work Sans";

      .card__author {
        display: flex;
        padding: 10px 20px;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        gap: 12px;
        background-color: var(--bg-color--secondary);
        border-radius: 20px;

        .author__img {
          width: 24px;
          height: 24px;
          border-radius: 100%;
        }
      }

      .card__title {
        font-size: 51px;
        font-weight: 600;
        line-height: 110%;
      }

      .card__button {
        width: 198px;
      }
    }

    &__time {
      margin: 0 115px 60px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 295px;
      height: 147px;
      border-radius: 20px;
      background: rgba(59, 59, 59, 0.5);
      backdrop-filter: blur(5px);
      font-family: "Space Mono";

      > span {
        width: 100%;
        padding-left: 30px;
        font-size: 12px;
        line-height: 110%;
        font-weight: 400;
      }

      .card_timer {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__row {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;
          font-size: 38px;
          font-weight: 700;
          line-height: 120%;
          text-transform: capitalize;

          > span {
            width: 53px;
          }

          > span:nth-child(even) {
            width: 18px;
            line-height: 140%;
            font-size: 28px;
          }
        }

        &__values {
          display: flex;
          flex-direction: row;
          gap: 38px;
          font-size: 12px;
          line-height: 110%;
          font-weight: 400;

          > span {
            width: 53px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 836px) and (max-width: 1279px) {
  .highlighted {
    height: 630px;

    &_card {
      &__info {
        padding: 0 0 60px 82px;

        .card__title {
          font-size: 38px;
          line-height: 120%;
        }
      }

      &__time {
        margin: 0 82px 60px 0;
      }
    }
  }
}

@media screen and (max-width: 835px) {
  .highlighted {
    height: 593px;

    &_card {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      &__info {
        padding: 0 0 0 30px;

        .card__title {
          font-size: 38px;
          line-height: 120%;
          width: 160px;
        }

        .card__button {
          width: 315px;
        }
      }

      &__time {
        width: 315px;
        margin: 0 0 40px 30px;

        > span {
          padding: 0 0 0 40px;
        }
      }
    }
  }
}
