.layout {
  width: var(--desktop-size);
  background-color: var(--bg-color);
  margin: 0 auto;
}

@media screen and (min-width: 836px) and (max-width: 1279px) {
  .layout {
    width: var(--tablet-size);
  }
}

@media screen and (max-width: 835px) {
  .layout {
    width: var(--phone-size);
  }
}
